@use "sass:map"

// Shared colors
$successWeak:                   #bbe6c6ff
$successStrong:                 #2f7040ff
$errorWeak:                     #e6bebeff
$errorStrong:                   #862222ff
$warningWeak:                   #e2e6afff
$warningStrong:                 #867b00ff

// Dark theme palette
$dark_theme_text_faded:         #848F9Aff
$dark_theme_text_main:          #F4F5F6ff
$dark_theme_bg_main:            #181A24ff
$dark_theme_bg_darker:          #111117ff
$dark_theme_bg_darkest:         #08080Aff
$dark_theme_accent:             #ffd147ff
$dark_theme_accent_light:       #ffe699ff

// Light theme palette
$light_theme_text_faded:        #40434Fff
$light_theme_text_main:         #0a0a0bff
$light_theme_bg_main:           #eaececff
$light_theme_bg_darker:         #dfe0e2ff
$light_theme_bg_darkest:        #c9cbcfff
$light_theme_accent:            #3B88C3ff // old: #e4628dff
$light_theme_accent_light:      #62A0D0ff // old: #ed96b3ff

// Dark theme map
$dark_theme: ()
$dark_theme: map.set($dark_theme, "theme_name", "dark")
$dark_theme: map.set($dark_theme, "text_faded", $dark_theme_text_faded)
$dark_theme: map.set($dark_theme, "text_main", $dark_theme_text_main)
$dark_theme: map.set($dark_theme, "bg_main", $dark_theme_bg_main)
$dark_theme: map.set($dark_theme, "bg_darker", $dark_theme_bg_darker)
$dark_theme: map.set($dark_theme, "bg_darkest", $dark_theme_bg_darkest)
$dark_theme: map.set($dark_theme, "accent", $dark_theme_accent)
$dark_theme: map.set($dark_theme, "accent_light", $dark_theme_accent_light)

// Light theme map
$light_theme: ()
$light_theme: map.set($light_theme, "theme_name", "light")
$light_theme: map.set($light_theme, "text_faded", $light_theme_text_faded)
$light_theme: map.set($light_theme, "text_main", $light_theme_text_main)
$light_theme: map.set($light_theme, "bg_main", $light_theme_bg_main)
$light_theme: map.set($light_theme, "bg_darker", $light_theme_bg_darker)
$light_theme: map.set($light_theme, "bg_darkest", $light_theme_bg_darkest)
$light_theme: map.set($light_theme, "accent", $light_theme_accent)
$light_theme: map.set($light_theme, "accent_light", $light_theme_accent_light)


// Themes map
$themes: ()
$themes: map.set($themes, map-get($dark_theme, "theme_name"), $dark_theme)
$themes: map.set($themes, map-get($light_theme, "theme_name"), $light_theme)

// noscript
noscript
    background-color: map-get($dark_theme, "bg_main")
    color: map-get($dark_theme, "text_main")
    a
        color: map-get($dark_theme, "accent")

// Theme style rules
@each $theme, $map in $themes
    /* == #{$theme} theme == */
    html.#{$theme}
        // All themed style rules must go here!
        body
            background-color: map-get($map, "bg_main")
            color: map-get($map, "text_main")
        span
            color: map-get($map, "text_faded")
            font-style: italic
        a
            color: map-get($map, "accent")
            &:hover
                color: map-get($map, "text_main")
                text-decoration-color: map-get($map, "accent_light")
        aside#extras
            border-bottom: 2px solid map-get($map, "bg_darker")
            button
                &:active
                    background-color: map-get($map, "accent")
                @if $theme == "dark"
                    background-image: url("../images/icons/sun.svg")
                @else 
                    background-image: url("../images/icons/moon.svg")
        a.social
            background-color: map-get($map, "bg_darker")
            &:hover
                background-color: map-get($map, "bg_darkest")
        a.github
            @if $theme == "dark"
                background-image: url("../images/icons/github-white.svg")
            @else 
                background-image: url("../images/icons/github-black.svg")
        a.email
            @if $theme == "dark"
                background-image: url("../images/icons/email-white.svg")
            @else 
                background-image: url("../images/icons/email-black.svg")
        a.twitter
            @if $theme == "dark"
                background-image: url("../images/icons/twitter-white.svg")
            @else 
                background-image: url("../images/icons/twitter-black.svg")
        h6
            color: map-get($map, "accent")
        button
            background-color: map-get($map, "bg_darker")
            border-bottom: 1px solid map-get($map, "text_faded")
            color: map-get($map, "text_faded")
            &:hover
                background-color: map-get($map, "bg_darkest")
                border-bottom-color: map-get($map, "accent")
                color: map-get($map, "text_main")
        #avatar img
            @if $theme == "dark"
                filter: sepia(25%) opacity(80%) contrast(130%)
            @else 
                filter: sepia(25%) brightness(90%) contrast(115%)
        main > section
            border-top: 2px solid map-get($map, "bg_darker")
        ul.grid-list li
            background-color: map-get($map, "bg_darker")
            border-bottom-color: map-get($map, "text_main")
            &:hover
                background-color: map-get($map, "bg_darkest")
            &.high
                border-bottom-color: $successStrong
            &.medium
                border-bottom-color: map-get($dark_theme, "accent")
            &.low
                border-bottom-color: $errorStrong
        ul.album-list li
            background-color: map-get($map, "bg_darker")
            &:hover
                background-color: map-get($map, "bg_darkest")
        span.indicator-high
            background-color: $successStrong
            box-shadow: 0 0 2px $successStrong
        span.indicator-medium
            background-color: map-get($dark_theme, "accent")
            box-shadow: 0 0 2px map-get($dark_theme, "accent")
        span.indicator-low
            background-color: $errorStrong
            box-shadow: 0 0 2px $errorStrong
        .project
            background-color: map-get($map, "bg_darker")
        footer
            background-color: map-get($map, "bg_darker")
            border-top: 2px solid map-get($map, "bg_darkest")
            button
                background-color: map-get($map, "bg_main")
        .badge, .badge-list li
            background-color: map-get($map, "bg_darker")
        .badge-dark, .badge-list-dark li
            background-color: map-get($map, "bg_darkest")
        .badge-light, .badge-list-light li
            background-color: map-get($map, "bg_main")

